
/* {整个窗体的样式*/
QWidget{/*统一的字体大小12px,颜色是#333*/
	font-size:12px;
	color:#333;
}

QLineEdit[error=true]
{
padding-left:20px; 
padding-right:8px;
}

QLineEdit:focus 
{
	color:#333;
}

QLineEdit[error=true]
{
background-image:url(images/standard/common/error.gif);
background-repeat:no-repeat;       
background-position:center left; 

padding-left:20px; 
padding-right:8px;
}

QHeaderView::section  {
    padding-right:4px;
    border: none;
    border-bottom: 1px solid rgb(160, 160, 160);
    border-right: 1px solid rgb(160, 160, 160);
    border-bottom: 1px solid gray;
  
	background-color:#eeeee8;
}

QHeaderView::section:horizontal  {
	background-image:url(images/standard/common/column.png);
	background-repeat:no-repeat;       
	background-position:center right; 	
}

  /*左上角按钮*/
 QPushButton#mainTopMenu{
 		color:#fff;
 		border: none;
		height:32px;
		width:122px;
		padding:0px;
 		background-image: url(images/application/mainTopMenu.png);
}
 QPushButton#mainTopMenu:hover {
 		border: none;
    background-image: url(images/application/mainTopMenu_hover.png);
 }

 QPushButton#mainTopMenu:pressed {
 		border: none;
    background-image: url(images/application/mainTopMenu_pressed.png);
 }
 
 QPushButton#mainTopMenu::menu-indicator {
     image: url();
     subcontrol-origin: padding;
     subcontrol-position: bottom right;
 }

QPushButton#closeButton{
 		border: none;
 		background-image: url(images/dialog/closewindow.png);

}
 QPushButton#closeButton:hover{
 	border: none;
    background-image: url(images/dialog/closewindow_hover.png);
 }

 QPushButton#closeButton:pressed{
 	border: none;
    background-image: url(images/dialog/closewindow_pressed.png);
 }

 
 QPushButton#restoreButton{
 		border: none;
 		background-image: url(images/dialog/maxwindow.png);

}
 QPushButton#restoreButton:hover {
 	border: none;
    background-image: url(images/dialog/maxwindow_hover.png);
 }

 QPushButton#restoreButton:pressed {
 	border: none;
    background-image: url(images/dialog/maxwindow_pressed.png);
 }
 
 QPushButton#maxButton{
 		border: none;
 		background-image: url(images/dialog/maxwindow.png);

}
 QPushButton#maxButton:hover {
 	border: none;
    background-image: url(images/dialog/maxwindow_hover.png);
 }

 QPushButton#maxButton:pressed {
 	border: none;
    background-image: url(images/dialog/maxwindow_pressed.png);
 }
 
 /*最小化*/
 QPushButton#minButton{
 		border: none;
 		background-image: url(images/dialog/minwindow.png);

}
 QPushButton#minButton:hover {
 		border: none;
    background-image: url(images/dialog/minwindow_hover.png);
 }

 QPushButton#minButton:pressed {
 		border: none;
    background-image: url(images/dialog/minwindow_pressed.png);
 }
 
 
 QTableView{/*表格的标准样式*/
   selection-background-color:#316AC5;
   selection-color: white;
   border: 0px;
}
