QLabel#GoBackLabelDisable
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoPreviousPage-disable.png); 
	background-repeat:no-repeat; 
	background-position: center center;
}

QLabel#GoBackLabel
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoPreviousPage.png); 	
	background-repeat:no-repeat; 
	background-position: center center;
}

QLabel#GoBackLabel:hover
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoPreviousPage-Hover.png); 
	background-repeat:no-repeat; 
	background-position: center center;	
}

QLabel#GoForwardDisable
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoNextPage-disable.png); 
	background-repeat:no-repeat; 
	background-position: center center;
}

QLabel#GoForward
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoNextPage.png); 	
	background-repeat:no-repeat; 
	background-position: center center;
}

QLabel#GoForward:hover
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoNextPage-Hover.png); 		
	background-repeat:no-repeat; 
	background-position: center center;
}

QLabel#GoToTheEndDisable
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoTheEnd-disable.png); 
	background-repeat:no-repeat; 
	background-position: center center;
}

QLabel#GoToTheEnd
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoTheEnd.png); 
	background-repeat:no-repeat; 
	background-position: center center;
}

QLabel#GoToTheEnd:hover
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoTheEnd-Hover.png); 
	background-repeat:no-repeat; 
	background-position: center center;
}

QLabel#GoToFirstPageDisable
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoFirstPage-disable.png); 
	background-repeat:no-repeat; 
	background-position: center center;
}

QLabel#GoToFirstPage
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoFirstPage.png); 
	background-repeat:no-repeat; 
	background-position: center center;
}

QLabel#GoToFirstPage:hover
{
	border: none; 
	background-image:url(images/basicModelImages/label/gotoFirstPage-Hover.png); 
	background-repeat:no-repeat; 
	background-position: center center;
}


QLabel#numberLabel
{ 
	color:#1E395B; 
	background-color:none; 
	padding-left:2px; 
	padding-right:2px; 
	border: none;  
	border-radius:2px; 
	min-width:15px; 
	background-repeat:repeat-x; 
	background-position: center center; 
}


QLabel#numberLabel:hover
{
	color:#1E395B; 
	background-color:#B6CCE1; 
	padding-left:2px; 
	padding-right:2px; 
	border: none;  
	border-radius:2px; 
	min-width:15px; 
	background-repeat:repeat-x; 
	background-position: center center; 
}

QLabel#numberLabelSelected
{
	color:#1E395B; 
	background-color:#2A6AAD; 
	padding-left:2px; 
	padding-right:2px; 
	border: none;  
	border-radius:2px; 
	min-width:15px; 
	background-repeat:repeat-x; 
	background-position: center center; 
}

QLabel#numberLabelClicked
{
	color:#1E395B; 
	background-color:#245990; 
	padding-left:2px; 
	padding-right:2px; 
	border: none;  
	border-radius:2px; 
	min-width:15px; 
	background-repeat:repeat-x; 
	background-position: center center; 
}

QLabel#feedbackLabel
{
	background-color:#FEF1F1;
	border: 1px solid #FE837F;
	padding-left: 12px;
	padding-right:12px;
	padding-top: 8px;
	padding-bottom: 8px;
	color: #6C6766;
}

QLabel#myTipIconLabel
{
	background-image:url(images/standard/common/tips.png);
	background-repeat:no-repeat;       
	background-position:center right; 
	width: 74px;
	padding-left: 40px;
}

QLabel#infoLabel_
{
	background-image:url(images/standard/common/tips.png);
	background-repeat:no-repeat;       
	background-position:center left;
	padding-left: 40px;
}

QLabel#aboutTBAIconLabel_
{
	background-image:url(images/tbaIcon/AssistantGUI.png);
	background-repeat:no-repeat;       
	background-position:center left;
	padding-left: 40px;
}


QLabel#myTipContextLabel
{
	padding-left: 20px;
}

QWebView#CriticalMessageLabel {
    border: 1px solid #d8bc56;
    border-radius: 0px;
    padding: 0px;
	color: #ce1c00;
    background-color: #ffefb2;
}

QLabel#batchEditItemCategoryLabel
, QLabel#uploadItemInfoLabel
, QTextBrowser#batchStatusInformationBrowser
{
	min-height:25px;
	max-height:25px;
	background-color: #FFFEE5;
	background-image:url(images/standard/common/light.png);
	background-repeat:no-repeat;       
	background-position:center left;
	padding-left: 20px;
}
