.spuconfirm{
  margin-top: 6px;

  input[type="checkbox"]{
    width: 14px;
    vertical-align: top;
    margin: 0;
  }

  span{
    display: inline-block;
    width: 254px;
    word-break: break-all;
    margin-left: 3px;
  }
}

.prop-box{
  .singletext{
    margin-left: 18px;
  }
}