<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="AppConfig">
      <section name="Conn" type="System.Configuration.NameValueSectionHandler"/>
      <section name="SqlServerCeConn" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Basic" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Url" type="System.Configuration.NameValueSectionHandler"/>
      <section name="Domain" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <runtime>
    <legacyUnhandledExceptionPolicy enabled="true" />
  </runtime>


  <AppConfig>
    <Basic>
      <add key="FirstUse" value="true"/>
      <add key="UpdatePath" value="Update"/>
      <add key="LogInLocal" value="true"/>
      <add key="ImgSize" value="500"/>
      <add key="MainSort" value="ToolBox"/>
      <add key="PageSize" value="15"/>
      <add key="InTest" value="false"/>
      <add key="InTbsandbox" value="false"/>
      <add key="CheckCode" value="true"/>
      <add key="DowloadFromWeb" value="false"/>
      <add key="CloudSnatch" value="true"/>
      <add key="SamePicDownloadOneTime" value="false"/>
      <add key="CloudShopCopy" value="false"/>
      <add key="OnlyUseCloudSnatch" value="false"/>
    </Basic>
    <Conn>
      <add key="ConnType" value="SqlServerCe"/>
    </Conn>
    <SqlServerCeConn>
      <add key="IsFullPath" value="false"/>
      <add key="Path" value="DB/toolboxdata.sdf"/>
    </SqlServerCeConn>
    <Domain>
      <add key ="WebSite" value="http://www.shuaishou.com"/>
      <add key ="UserService" value="http://fuwu.shuaishou.com"/>
      <add key ="Photo" value="http://img.sszgclub.com"/>
      <add key ="Upgrade" value="http://sj.shuaishou.com"/>
      <add key ="Login" value="http://sop.shuaishou.com"/>
      <add key ="Fenxi" value="http://fenxi.shuaishou.com"/>
      <add key="imgUrlTransfer" value="http://t.shuaishou.com"/>
    </Domain>
    <Url>
      <add key="CloudUrl" value="http://yun.shuaishou.com/CloudSnatchService.asmx?wsdl"/>
      <add key="CloudUrlBak" value="http://yun.shuaishou.com/CloudSnatchService.asmx?wsdl"/>

      <add key="PropertyUrl" value="http://service.shuaishou.com/Service.asmx?wsdl"/>
      <add key="PropertyUrlBak" value="http://www.shuaishou.com/service/Service.asmx?wsdl"/>
      
      <add key ="Index" value="http://fuwu.shuaishou.com/infos.aspx"/>
      <add key ="RebackUrl" value="http://www.shuaishou.com/TopSession.aspx"/>
      <add key ="PropertyService" value="http://service.shuaishou.com/NewPropertyService.aspx"/>
      <add key ="OrderService" value="http://www.shuaishou.com/services/Service.aspx"/>
      <add key ="Register" value="http://www.shuaishou.com/Reg.aspx"/>
      <add key ="FindPwd" value="http://www.shuaishou.com/RegPsw.aspx"/>
      <add key ="doyouknow" value="http://www.shuaishou.com/TipsForToolbox.aspx"/>
      <add key ="FeedBack" value="http://www.shuaishou.com/AskAdd.aspx"/>
      <add key ="Help" value="http://www.shuaishou.com/Help.aspx"/>
      <add key ="LoginFail" value="http://www.shuaishou.com/Help.aspx?id=1235"/>
      <add key ="SafeKnowledge" value="http://www.shuaishou.com/HelpSecurity.aspx"/>
      <add key="CannotFindCustomCatalog" value="http://www.shuaishou.com/Help.aspx?id=1237"/>
      <add key="ApplyTaoBaoApi" value="http://www.shuaishou.com/Help.aspx?id=1258"/>
      <add key="GetTaoBaoApi" value="http://www.shuaishou.com/Help.aspx?id=1258"/>
      <add key="RegisterCom" value="http://www.shuaishou.com/Help.aspx?id=1003"></add>
      <add key="CannotFindTpl" value="http://www.shuaishou.com/Help.aspx?id=1238"/>
      <add key="HowToFindLeveTwoProperty" value="http://www.shuaishou.com/Help.aspx?id=1271"/>
      <add key="HowtoSnatch" value="http://www.shuaishou.com/Help.aspx?id=1436" />
      <add key="UploadFail" value="http://www.shuaishou.com/Help.aspx?id=1191"/>
      <add key="ManualGetTaoBaoAuthCode" value="http://www.shuaishou.com/Help.aspx?id=1718" />
      <add key="ManualGetPaipaiToken" value="http://www.shuaishou.com/Help.aspx?id=1719" />
      <add key="GetPaipaiToken" value="http://www.shuaishou.com/Help.aspx?id=3626" />
      <add key="LinkToSszg" value="http://b.qq.com/webc.htm?new=0&amp;sid=800055007&amp;eid=2188z8p8p8p8R8R8p8p8y&amp;o=&amp;q=7" />
      <add key="DownTool" value="http://dl.pconline.com.cn/html_2/1/59/id=40013&amp;pn=0&amp;linkPage=1.html"/>
      <add key="GGUrl" value="http://fuwu.shuaishou.com/tools/RightGG.aspx"/>
    </Url>
  </AppConfig>
  <system.net>
    <settings>
      <servicePointManager expect100Continue="false" />
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
  </system.net>
</configuration>