$red : #ff3300;

// 自定义字体
@font-face{
  font-family: asArial;
  src: local(Arial);
  unicode-range: U+1-127;
}

// object 插件
.plugin-wrapper{
  width: 100%;
  height: 100%;
}

.widget{
  display: block;
  position: realtive;
  width: 100%;
  height: 100%;
}

.desc-reminder{
  width: calc(100% - 8px);
  border: solid 1px #ffc56f;
  background-color: #ffefd3;
  margin: 6px 0 5px -1px;
  padding: 5px 0px 3px 8px;
  line-height: 19px;
}

body{
  margin:0;
  padding:0;

  font-family: "asArial", "宋体";
  font-size:12px;
  color: #333333;
}

.find-text-bg{
  background-color: #7cccf9;
}

.tab{
  position: relative;
  width:100%;
  min-width: 1000px;

  .bar{
    position:fixed;
    top:0; 
    left:2px;
    margin:0;
    height:30px;
    width: 1014px;
    border-bottom: solid 1px #d7d7d7;
    background-color: #ffffff;

    .item{
      position:relative;
      float:left;

      text-align:center;
      color: #333333;

      padding-left:22px;
      padding-right:22px;
      margin-left:2px;
      cursor:pointer;

      height:30px;
      line-height:30px;

      border:solid 1px #d7d7d7;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      border-bottom: none;
      
      background-color: #f6f6f6;

      .main-item{
        position:relative;
        float:left;
        top: -2px;
        text-align:center;
        padding-left:8px;
        padding-right:12px;

        color:#333333;
        height:30px;
        line-height:30px;
      }

      .active{
        border-bottom: solid 2px #6ca9d1;
        color: #71acd4; 
      }
    }

    .active{
      color: #71acd4;
    }

    .tip{
      position:relative;
      float:left;

      color: #ff9900;
      margin-left: 16px;
      font-size:12px;

      height:30px;
      line-height:30px;
    }
  }

  .panel{
    position:relative;
    top:30px;
    left:4px;
    margin:0;
    width: 1010px;
    border:solid 1px #d7d7d7;
    border-top:none;

    .item{
      position:relative;
      top:0; left:0;
      width:100%;
      height:100%;

      .main-sub-panel{
        position:relative;
        width:100%;
        height:auto;
        padding-bottom: 28px;
      }

      .sku{
        border-bottom: solid 1px #d7d7d7;
      }

      .qualification{
        border-bottom: solid 1px #d7d7d7;

        .qualification-header{
          position: relative;
          width: calc(100% - 28px);
          height: 28px;
          line-height: 28px;
          margin-left: 28px;
        }
      }

      .other{
        margin-bottom: 8px;
      }
    }
  }
}

.basic {
  position: relative;
  height: 460px;
  width: 100%;
  border-bottom: solid 1px #d7d7d7;

  .left{
    position: relative;
    float: left;

    width: 390px;
    height: 100%;

    overflow-y: hidden;
    overflow-x: hidden;
  }

  .props{
    position: relative;
    float: left;

    width: 318px;
    height: 100%;

    overflow-y: auto;
  }

  .right{
    position: relative;
    float: left;

    width: 274px;
    min-height: 390px;

    overflow-y: auto;
    overflow-x: hidden;
  }
}

// category
#category-box{
  position: relative;
  width: 100%;
  height: 28px;

  #choose-category-button{
    position: relative;
    float: left;
    margin-left: 6px;
    width: 58px;
    height: 26px;
    border: solid 1px #d7d7d7;
    border-radius: 2px;
    text-align: center;
    line-height: 26px;
    cursor:pointer;
    background-color: #f6f6f6;
  }
}

// assistant
.assistant {
  position: fixed;
  bottom: 0px;
  left: 5px;
  width: 1010px;
  border-top: solid 1px #d7d7d7;
  border-bottom: solid 1px #d7d7d7;
  background-color: #f6f6f6;

  .error-tip{
    position: relative;
    color: $red;  
    width: 70px;
    height: 28px;
    line-height: 28px;
    text-align: right;
  }

  .error-panel{
    position: relative;
    width: calc(100% - 70px);

    .error-item{
      position: relative;
      margin-left: 12px;
      height: 28px;
      line-height: 28px;
      cursor: pointer;
    }
  }
}

.assistant-tip{
  position: fixed;
  height: 80px;
  width: 200px;
  border: solid 1px #fce2bb;
  border-radius: 2px;
  background-color: #fef1dd;
  top: 220px;
  left: 405px;

  .assistant-content{
    position: relative;
    width: 200px;
    height: 80px;

    img{
      display: block;
      position: absolute;
    }

    span{
      display: block;
      position: absolute;
      line-height: 18px;
      word-break: break-all;
    }
  }
}

.tab-tip{
  position: fixed;
  height: 18px;
  border: solid 1px #fce2bb;
  border-radius: 2px;
  background-color: #fef1dd;
  top: 5px;
  padding-left: 6px;
  padding-top: 3px;

  img{
    display: block;
    position: absolute;
    left: 4px;
  }

  span{
    display: block;
    position: absolute;
    line-height: 18px;
    top: 2px;
    left: 22px;
  }
}

// 修正电子凭证组件的样式
.ma-iframe-area{
  margin-left:17px;
}

// 对话框
.dialog-bg{
  position: fixed;
  top: 0; 
  left:0; 
  width: 100%;
  height: 100%;
}

.dialog{
  position: fixed;
  width: 480px;
  top: 120px;
  left: 265px;

  .title-bar{
    position: relative;
    width: 100%;
    height: 28px;
    background-color: #4994c7;

    .title-text{
      color: #ffffff;
      margin-left: 8px;
      line-height: 28px;
    }

    .close-button{
      color: #ffffff;
      margin-right: 8px;
      font-size: 22px;
      line-height: 28px;
      font-weight: lighter;
      cursor: pointer;
    }
  }

  .content{
    position: relative;
    width: 478px;
    border: solid 1px #d7d7d7;
    border-top: none;
    background-color: #ffffff;

    .panel{
      position: relative;
    }

    .bar{
      position: relative;
      margin-top: 12px;
      margin-left: 8px;
      margin-right: 8px;
      margin-bottom: 8px;
      width: calc(100% - 16px);

      .button-wrap{
        position: relative;
        margin:auto;

        .button{
          position: relative;
          float: left;
          margin-left: 12px;
          width: 80px;
          height: 26px;
          line-height: 26px;
          border: solid 1px #c9c9c9;
          border-radius: 2px;
          background-color: #f2f2f2;
          text-align: center;
          margin-left:12px;
          cursor: pointer;
        }

        .button:nth-child(1){
          margin-left: 0px;
        }
      }
    }
  }
}

// 选择店铺类目-对话框内样式 
.shop-cats-box{
  position: relative;
  width: calc(100% - 56px);
  margin-left: auto;
  margin-right: auto;

  .shop-cats{
    position: relative;
    width: 260px;
    margin-right: 12px;

    .ztree{
      position: relative;
      background-color: #f6f6f6;
      padding-top: 12px;
      padding-bottom: 12px;
      width: calc(100% - 10px);
      max-height: 354px;
      overflow-y: auto;

      li{
        margin-bottom: 4px;
      }

      ul{
        margin-bottom: 4px;
      }
    }

  }

  .selected-cats{
    position: relative;
    width: 150px;

    .cats-panel{
      position: relative;
      background-color: #f6f6f6;
      width: 100%;
      padding-bottom: 12px;
      max-height: 354px;
      overflow-y: auto;

      .selected-cat-text{
        position: relative;
        margin-top: 12px;
        margin-left: 12px;
        margin-right: 12px;
        width: calc(100% - 24px);
        line-height: 28px;
        max-height: 56px;
        min-height: 28px;
        word-break: break-all;
        overflow-y: auto;

        .quick-remove-button{
          position: absolute;
          width: 16px;
          height: 16px;
          
          top: 0px;
          right: 2px;

          color: $red;
          font-size: 14px;
          cursor:pointer;
        }
      }
    }
  }

  .shop-title-bar{
    position: relative;
    height: 30px;
    width: 100%;

    .shop-cats-title{
      position: relative;
      height: 22px;
      line-height: 22px;
      top: 8px; 
    }

    .icon{
      position: relative;
      width: 20px;
      height: 20px;
      margin-left: 6px;
      top: 5px;

      border-radius: 1px;
      border: solid 1px #ffffff;

      background-repeat: no-repeat;
      background-position: center;
    }

    .icon-checked{
      border: solid 1px #d7d7d7;
    }

    .expand{
      background-image: url(../img/expand.png);
    }

    .expand:hover{
      background-image: url(../img/expand-hover.png);
    }

    .pack{
      background-image: url(../img/pack.png);
    }

    .pack:hover{
      background-image: url(../img/pack-hover.png);
    }
  }

}

.schema-shop-cats, .schema-location{
  position: relative;
  margin-left: 28px;
  width: calc(100% - 28px);
  background-color: #f6f6f6;

  .cats-init-text, .location-init-text{
    position: relative;
    height: 28px;
    line-height: 28px;
    color: #767676;
    margin-left: 4px;
    cursor: pointer;
  }

  .cats-text, .location-text{
    position: relative;
    width: 164px;
    min-height: 28px;
    max-height: 82px;
    color: #767676;
    line-height: 28px;
    padding: 0 8px 0 8px;
    margin-right: 8px;

    word-break: break-all;
    text-overflow:ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -webkit-box;
  }

  .edit-button{
    position: absolute;
    width: 32px;
    height: 28px;
    top: 0;
    right: 14px;
    text-align: right;
    line-height: 28px;
    cursor:pointer;
    color: #2c96ff;
  }
}
  

// 加载效果
.loading-box{
  position: absolute;
  top: 30px;
  left: 4px;
  border: solid 1px #d7d7d7;
  width:1010px;
  height: 474px;
  background-color: #ffffff;

  .loading-icon{
    position: absolute;
    top: 154px;
    left: 360px;
    width: 32px;
    height: 32px;
    background-image: url(../img/loading.png);
  }

  .loading-text{
    position: absolute;
    top: 155px;
    left: 394px;
    height: 32px;
    line-height: 32px;
    color: #767676;
  }

  .loading-status{
    position: absolute;
    top: 156px;
    left: 492px;
    height: 32px;
    line-height: 32px;
    color: #767676;
  }
}

.deliver-unit{
  position: absolute;
  left: 144px;
  top: 34px;
  font-size: 13px;
  color: #333333;
}